* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #ddd;
  background-color: #1a2d42;  /* Dark aquatic background */
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: transparent;
}

.logo img {
  max-width: 100px;
}

.header-links {
  display: flex;
}

.header-links li {
  margin-right: 20px;
}

.header-links li a {
  color: #fcf8f8;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header-links li a:hover {
  color: #66b0ff;  /* Lighter blue on hover */
}

.section {
  padding: 100px 0;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-description {
  width: 60%;
}

.profile-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s;
}

.profile-photo img:hover {
  transform: scale(1.1);
}

.about-content, .skills-content, .projects-content {
  color: #eee;
}

.skills-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill-card {
  background-color: #274c6b;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.skill-card:hover {
  background-color: #3a6f8f;
}

.skill-icon img {
  width: 50px;
  height: 50px;
}

.skill-card h3 {
  margin-top: 15px;
  font-size: 1.2em;
  color: #fff;
}

footer {
  background-color: #1c2b3a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links li {
  margin-right: 20px;
}

.social-links li img {
  width: 30px;
  height: 30px;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links li a:hover {
  color: #66b0ff;  /* Lighter blue on hover */
}
